<div class="jumbotron">
        <h2>Quelques liens utiles</h2>
        <p>
          La version 5 d'Angular est arrivé en Novembre 2017<br>
          Cependant elle difère peu de la V4.
          Les liens que vous trouverez ici sont tout à fait valables.
        </p>
        <ul>
          <li>Angular officiel :<br> <a href="https://angular.io">La documentation d'Angular</a></li>
          <li>Installer l'environnement, le CLI, créer une app Angular5 et la servir dans le navigateur :<br> 
              <a href="https://angular.io/guide/quickstart">https://angular.io/guide/quickstart</a>
          </li>
          <li>L'API d'Angular : <br><a href="https://angular.io/api">https://angular.io/api</a></li>
          <li>Alligator, un super blog Javascript/angular/react/vueJs : <br><a href="https://alligator.io/angular">https://alligator.io/angular</a></li>
        </ul>
      <hr>
      <p>Les formations online payantes</p>
      <ul>
        <li>Udemy (orienté projet et peu d'explications sur le framework lui-même) : 
          <br><a href="https://www.udemy.com/courses/search/?src=ukw&q=angular">Les formations Udemy sur Angular</a>
        </li>
        <li>Angular Dyma (~100€/3mois) - Formation ultra-complète qui va au fond des principes et fonction du Framework pour une utilisation avancée: 
          <br><a href="https://www.udemy.com/courses/search/?src=ukw&q=angular">Formation AngularDyma</a>
        </li>
      </ul>
      <hr>
        <small>Des questions ? Contactez-moi sur Slack ou <a href="mailto:frederic.lossignol@gmail.com">frederic.lossignol@gmail.com</a></small>
      </div>
